<section class="card p-5">

  <div class="flex items-start justify-between">

    <div>

      <p
        class="mt-2 text-sm text-secondary">
        {{ title() }}
      </p>

      <p
        class="mt-10 text-3xl font-bold tracking-tight text-primary">
        {{ value() }}
        @if (secondaryValue()) {
          <span
            class="text-secondary">
            {{ secondaryValue() }}
          </span>
        }
      </p>

    </div>

    <div
      class="flex h-9 w-9 items-center justify-center rounded-xl"
      [ngStyle]="{
        background:
          'linear-gradient(135deg,' +
          accentFrom() +
          ' 0%,' +
          accentTo() +
          ' 100%)'
      }">

      <lucide-icon
        [img]="icon()"
        size="16">
      </lucide-icon>

    </div>

  </div>

  <div class="mt-2 flex items-center gap-3">

    <span
      class="rounded-full
             px-2.5 py-1
             text-xs font-medium"
      [ngStyle]="{
        background:
          'linear-gradient(90deg,' +
          accentFrom() +
          ' 0%,' +
          accentTo() +
          ' 100%)'
      }">
      {{ trend() }}
    </span>
  </div>

</section>
