@use "tailwindcss";
@use './styles/themes/dark-theme';
@use './styles/themes/light-theme';

body {
  color: var(--text-primary);

  background-color: var(--bg-primary);
}
.dark {
  background-image:
    linear-gradient(
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      var(--grid-color) 1px,
      transparent 1px
    );

  background-size: 48px 48px;
}

.light{
  background-image: none;
}
